.jumbotron {
    margin-left: 20px;
    margin-right: 20px;
}

.container {
    width: 500px;
}

.navbar-header {
    float: left;
    padding: 15px;
    text-align: center;
    width: 100%;
}

.navbar-brand {float:none;}

